backend/model/data/*
backend/logs.txt
venv2/*
.idea/JoshGPT.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
backend/api/__pycache__/
backend/api/migrations/__pycache__/
backend/backend/__pycache__/
backend/backend/model/__pycache__/
backend/backend/model/data/
